@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.main-bg{
    background-color: rgb(245, 248, 255);
}

/* Common style */
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.37rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}

.flex{
    display: flex;
}
.white{
    color: white;
}
.orange{
    color: rgb(233, 90, 8);
}
.dark1{
    color: rgb(0, 0, 0);
}
.dark2{

}

.sub-header{
    font-size: 3.12rem;
    font-weight: 700;
}

/* header section */
.section-position{
    max-width: 1140px;
    margin: 0 auto;
}

/* nav style */

.all-nav{
    margin-top: 30px;
    justify-content: space-between;

}
.nav-links{
    gap: 48px;
    list-style: none;
}
.nav-links a{
    text-decoration: none;
}
/* banner section */

.banner{
    margin-top: 120px;
    margin-bottom: 120px;
    grid-template-areas: "banner-img"
        "banner-content";
}

.banner-head{
    font-weight: 700;
    font-size: 4.06rem;
    margin-bottom: 13px;
    margin-top: 20px;
}

/* our plants style */
.plants-content{
    text-align: center;
}
.plants-text{
    margin-bottom: 50px;
}

.plants-header{
    margin-bottom: 16px;
}

.plants-lily{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.plant-lily{
    text-align: center;
}

.plant-header{
    justify-content: center;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 20px;
}
.plant-price{
    justify-content: center;
    font-size: 1.37rem;
    font-weight: 500;
    margin-bottom: 30px;
}
.plant-button{
    padding: 20px 0;
    background-color: rgb(233, 90, 8);
    color: white;
    border-style: none;
    font-weight: 600;
    width: 100%;
}
/* Flower & Plants Lover */

.plants-lover{
    margin-top: 200px;
    margin-bottom: 130px;
    display: flex;
    justify-content: space-between;
    gap: 60px;
}
.lover-text{
    margin-bottom: 20px;
}
/* .trusted-badge{ */
    /* width: 286px; */
    /* height: 286px; */
/* } */
/* Latest Deals style */
.deals{
    margin-bottom: 120px;
}
.deals-ht{
    text-align: center;
    margin-bottom: 120px;
}
.deals-background{
    gap: 30px;
    max-height: 423px;
}
.bg-bloom{
    background-image: url("assets/deal-bloom.png");
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.4)); */
    background-color: rgba(0, 0, 0, 0.4);
    /* width: 22.88rem;
    height: 212.87rem; */
    width: 366.22px;
    height: 206px;
    background-repeat: no-repeat;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.bg-zabo{
    background-image: url("assets/deal-zabo.png");
    background: rgb(200, 200, 200), url(assets/deal-zabo.png);
    /* width: 22.88rem;
    height: 212.87rem; */
    /* width: 366.22px;
    height: 206px; */
    width: 753px;
    height: 423.13px;
    /* width: 100%; */
    background-repeat: no-repeat;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg-ana{
    background-image: url("assets/deal-ana.png");

    /* background: rgb(200, 200, 200), url(assets/deal-ana.png) */

    /* width: 22.88rem;
    height: 212.87rem; */
    height: 206px;
    width: 366.22px;
    background-repeat: no-repeat;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.deal-header{
    color: white;
    font-size: 20px;
    font-weight: 700;
    /* margin-bottom: 20px; */
}
.deal-header-zabo{
    font-size: 40px;
    font-weight: 700;
}
.deal-link-zabo{
    font-size: 28px;
    font-weight: 600;
}
/* .background: rgba(0, 0, 0, 0.4), url(); */

/* Join the colorful Bunch */
.join-bunch{
    background-image: url(assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;    
    justify-content: center;
    height: 33.3125rem;

}

.join-header{
    font-size: 50px;
    font-weight: 700;
}

.form-content{
    /* width: 51.875rem; */
    /* height: 3.125rem; */
    /* width: 830px; */
    /* height: 50px; */
    /* justify-content: space-evenly; */
}
.form-button{
    padding: 26px 50px 26px 50px;
    /* height: 50px; */
    background-color: rgb(233, 90, 8);
    border-style: none;
    color: white;
    /* font-size: 16px; */
    font-weight: 500;
}
#email{
    width: 40.25rem;
    height: 3.125rem;
    padding: 8px 20px 8px 20px;
}
/* footer style */
.main-footer{
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}
.footer-links{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}
footer a{
    /* text-decoration: none; */
}
.footer-link{
    text-decoration: none;
}
.footer-social{
    margin-right: 32px;
}








@media screen and (max-width: 576px) {
    /* header section */
    .nav-link1, .nav-link2, .nav-link3{
        display: none;
    }
    .banner{
        max-width: 100%;
        display: grid;
        grid-template-areas: 
        "banner-img"
        "banner-content";
        /* flex-direction: column; */
       grid-template-columns: repeat(1, 1fr)               
    }
    .banner-img, .banner-content{
        max-width: 100%;
    }
    /* our plants */
    .plants-lily{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .plants-content{
        justify-content: center;
    }
    /* Flower & Plants Lover */
    .plants-lover{
        display: grid;
        /* grid-template-columns: repeat(1, 1fr); */
    }
    /* Latest Deals responsive */
    .deals-background{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .bg-zabo{
        height: 206px;
        width: 366.22px;
        
    }
    .deal-header-zabo{
        font-size: 20px;
        font-weight: 700;
    }
    .deal-link-zabo{
        font-weight: 400;
        font-style: 16px;
    }
    
}



